<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgcodes.cleanarchitecture">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.dgcodes.cleanarchitecture.Init"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVPB">
        <activity android:name="com.dgcodes.cleanarchitecture.presentacion.view.acitivities.DetalleActivity"></activity>
        <activity android:name="com.dgcodes.cleanarchitecture.presentacion.view.acitivities.ListaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>